*{
margin: 0;
padding: 0;

}

#parents1
{
    width: 100%;
    height: 15vh;
    background-color: aqua;
    border: 1px solid black;
    display: flex;
    position: relative;            
    
}
.child1
{
    width: 100%;
    border: 1px solid black;   
    text-align: center;
    position: absolute;
    
}

#parents2
{
    width: 100%;
    height: 66.5vh;
    background-color: pink;
    display: flex;
    border: 1px solid black;
}
.child2
{
    text-align: center;
    width: 50%;
    border: 1px solid black;
}

#parents3
{
    width: 100%;
    height: 15vh;
    background-color: greenyellow;
    /* display: flex; */
    border: 1px solid black;
    
}
.child3
{
    text-align: center;
    height: 7.5vh;
    border: 1px solid black;
}